.fanshuo{ padding:10px 15px; line-height:25px;}
.fanshuo p a{ color:#054fe4;}
.cz_table td{ border:1px solid #e9e9e9;}
.vipyuan{ padding:0px 10px;}
.vipyuan dd{ padding:0px 10px;}
.vipyuan dd p{ text-align:right; padding-right:50px;}
.vipyuan dd em{ color:#ff6633;}
.help_cen{line-height:25px; margin:10px; padding:10px; background:url(../img/help_bg.png) repeat-x center bottom;}
.help_cen dt.ab1,.help_cen dt.ab2,.help_cen dt.ab3,.help_cen dt.ab4,.help_cen dt.ab5,.help_cen dt.ab6{ height:25px;  font-size:16px; color:#333; padding-left:20px;}
.help_cen dt.ab1{background:url(../img/help_ico.png) no-repeat left 5px;}
.help_cen dt.ab2{ background:url(../img/help_ico.png) no-repeat left -80px;}
.help_cen dt.ab3{ background:url(../img/help_ico.png) no-repeat left -168px;}
.help_cen dt.ab4{ background:url(../img/help_ico.png) no-repeat left -253px;}
.help_cen dt.ab5{ background:url(../img/help_ico.png) no-repeat left -346px;}
.help_cen dt.ab6{ background:url(../img/help_ico.png) no-repeat left -440px;}
.help_cen dd a{ padding:0px 10px 0px 20px; color:#666; font-size:14px;}
.ruhece{ padding:15px;}
.hece{ border-bottom:1px solid #e5e5e5; font-size:14px; font-weight:bold; line-height:32px; color:#0b0b0b;}
.jice p{ color:#dd4b39; font-size:14px; padding:15px 0px;}









